<p-table
  [value]="tasks"
  styleClass="p-datatable-gridlines"
  [tableStyle]="{ 'min-width': '50rem' }"
  [paginator]="true"
  [rows]="5"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[5, 10, 20]"
  [exportHeader]="'customExportHeader'"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <p>Tasks:</p>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>Duration</th>
      <th>Comments</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Info</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-task>
    @if(tasks.length > 0){
    <tr>
      <td>{{ task.text }}</td>
      <td>
        <p-tag
          [value]="task.status"
          [severity]="getTaskSeverity(task.status)"
        ></p-tag>
      </td>
      <td>{{ task.duration }} Days</td>

      <td>
        <p-button
          icon="pi pi-comments"
          size="small"
          [rounded]="true"
          [text]="true"
          [raised]="true"
          (click)="viewComments(task)"
        ></p-button>
      </td>
      <td>{{ task.start_date }}</td>
      <td>{{ task.end_date }}</td>
      <td>
        <p-button
          icon="pi pi-info-circle"
          size="small"
          [rounded]="true"
          [text]="true"
          [raised]="true"
          (click)="showInfoDialog(task)"
        ></p-button>
        <p-dialog
          header="Task Info"
          [(visible)]="infoVisible"
          [style]="{ width: '50vw' }"
        >
          @if(task == null){
          <div></div>
          } @else{
          <p-progressSpinner
            styleClass="w-4rem h-4rem"
            strokeWidth="8"
            fill="var(--surface-ground)"
            animationDuration=".5s"
          ></p-progressSpinner>
          }
        </p-dialog>
      </td>
    </tr>
    } @else {
    <div class="block align-items-center">No Tasks Found</div>
    }
  </ng-template>
  <ng-template pTemplate="summary">
    Total Tasks: {{ tasks.length }}
  </ng-template>
</p-table>
