<p-dataView #dv [value]="resources">
  <ng-template pTemplate="list" let-resources>
    <div class="list">
      @for (item of resources; track $index) {
      <div>
        <p-card class="full-width-card m-4 shadow-6">
          <div class="card-content">
            <i class="pi pi-user m-4 mr-4" style="font-size: 4rem"></i>
            <div>
              <h2 class="big-name ml-3">{{ item.name }}</h2>
              <p class="faint-description ml-3">{{ item.description }}</p>
              <p class="green-price ml-3">
                Cost per hour: {{ item.costPerHour }}$
              </p>
            </div>
            <div class="icon-and-buttons">
              <button
                pButton
                icon="pi pi-pencil"
                class="p-button-rounded m-1"
              ></button>
              <button
                pButton
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger m-1"
              ></button>
            </div>
          </div>
        </p-card>
      </div>
      }
    </div>
  </ng-template>
</p-dataView>
<div class="flex justify-content-end align-items-center p-mb-4">
  <p-button
    class="mr-2"
    icon="pi pi-plus"
    (onClick)="handleAddNewResource()"
  ></p-button>
</div>
