<div style="height: 400px; width: 300px; overflow-y: auto">
  @for (item of comments; track $index) {
  <p-card header="{{ item.username }}" class="shadow-5 w-full">
    <span class="text-muted">{{ item.createdAt }}</span>
    <p>{{ item.text }}</p>
  </p-card>
  }
</div>
<div class="flex overflow-hidden">
  <input type="text" class="flex-grow-1" pInputText [(ngModel)]="value" />
  <p-button
    label="Send"
    icon="pi pi-send"
    size="small"
    iconPos="right"
    class="flex-none"
    (onClick)="addComment()"
  ></p-button>
</div>
