<div class="grid">
  <div class="col-4" *ngFor="let list of boardLists; let i = index">
    <p-card class="shadow-6 custom-card">
      <p-header>{{ list.title }}</p-header>
      <!-- Inner cards -->
      <!-- <div *ngFor="let innerCard of list.innerCards">
          <p-card class="p-shadow-2 custom-inner-card">
            {{ innerCard.text }}
          </p-card>
        </div> -->
      <!-- Action buttons -->
      <p-footer>
        <button
          pButton
          type="button"
          label="Action 1"
          class="button-rounded button-success"
        ></button>
        <button
          pButton
          type="button"
          label="Action 2"
          class="button-rounded button-warning"
        ></button>
      </p-footer>
    </p-card>
  </div>
  <!-- Add Card button -->
  <div class="col-4">
    <button
      pButton
      type="button"
      label="Add List"
      class="button-rounded button-info"
      (click)="addList()"
    ></button>
  </div>
</div>
