<div class="grid">
  <div class="col-4" *ngFor="let list of boardLists; let i = index">
    <p-card class="shadow-6 custom-card">
      <p-header>
        <div class="text-center font-semibold m-2">
          <span><br />{{ list.title }}</span>
        </div>
      </p-header>
      <!-- Inner cards -->
      <div class="align-items-center">
        <list [list]="list"></list>
      </div>
      <!-- Action buttons -->
      <p-footer>
        <div class="bg-gray-100"></div>
      </p-footer>
    </p-card>
  </div>
  <!-- Add Card button -->
  <div class="col-4">
    <button
      pButton
      type="button"
      label="Add List"
      class="button-rounded button-info"
      (click)="addList()"
    ></button>
  </div>
</div>
